<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ates.libraryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.ates.libraryapp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kitap Rehberi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ates.libraryapp.LoadingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ates.libraryapp.ForgotPasswordActivity"
            android:parentActivityName="com.ates.libraryapp.SignInActivity" />

        <service
            android:name="com.ates.libraryapp.MyFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ates.libraryapp.GetAllBooksActivity"
            android:parentActivityName="com.ates.libraryapp.HomePageActivity" />
        <activity
            android:name="com.ates.libraryapp.AddBookActivity"
            android:parentActivityName="com.ates.libraryapp.HomePageActivity" />
        <activity android:name="com.ates.libraryapp.HomePageActivity" />
        <activity
            android:name="com.ates.libraryapp.SignInActivity"
            android:parentActivityName="com.ates.libraryapp.MainActivity" />
        <activity
            android:name="com.ates.libraryapp.SignUpActivity"
            android:parentActivityName="com.ates.libraryapp.MainActivity" />
        <activity android:name="com.ates.libraryapp.MainActivity">

        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:value="test_sound_channel" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>